a {
    color: black;
    text-decoration: unset;
}

.start:hover {
    background: #e6df22;
}

.start {
    display: none;
    cursor: pointer;
    background: #fff725;
}

.start {
    font-family: 'AlternateGothic3';
    text-transform: uppercase;
    font-size: 1.68em;
    line-height: 1.68em;
    display: block;
    padding: 0.22em 0.45em 0.2em;
    text-align: center;
    width: 100%;
}